<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %cyan([%thread]) %yellow(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Application loggers -->
    <logger name="com.fx.payment" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Spring AMQP / RabbitMQ -->
    <logger name="org.springframework.amqp" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.rabbitmq" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root: everything else at INFO -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
